.year {
    max-width: 3em;
}

.gendercol {
    visibility: hidden;
    border: none;
}

.tg {
    font-family: Merriweather;
    font-size: 14px;
    padding: 10px 10px;
    overflow: hidden;
}

.top {
    border: none;
}

.tg th {
    font-family: Raleway;
    font-size: 50px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.borderbox {
    color: black;
    border: solid;
    border-collapse: collapse;
}

.tab {
    position: relative;
    display: block;
    margin-left: 25%;
    padding-top: 10px;
    border-collapse: collapse;
}

.tab td {
    padding: 10px;
}

.answers {
    position: relative;
    margin-left: 15%
}

.resultstable {
    border-collapse: collapse;
    color: black;
    padding: 10px;
    width: 90%;
    text-align: left;
}

.resultstable th {
    background-color: rgb(235, 235, 235);
}

.resultstable th,
td {
    text-align: left;
    /* padding: 10px; */
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

.resultstable tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

.resultstable tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

.moreinfo {
    text-align: left;
    width: 20em;
    color: rgb(0, 0, 0);
}

.resultname {
    width: 20em;
}

.more {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
}