h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
}

[type="radio"] {
    margin: 5px 5px;
}

.vert-center {
    display: flex;
    align-items: center;
}

.filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-container>div {
    margin: 1px;
    padding: 10px 10px;
    border: solid;
    border-collapse: collapse;
    font-family: Merriweather;
    font-size: 14px;
}

.filter-container>button {
    margin-top: 4px;
    padding: 10px 10px;
    font-family: Merriweather;
    font-size: 14px;
}

.year {
    max-width: 3em;
}

#display {
    position: relative;
    margin-left: 10%;
    overflow-x: auto;
}

.resultstable {
    border-collapse: collapse;
    color: black;
    padding: 10px;
    width: 90%;
    text-align: left;
}

.resultstable th {
    background-color: rgb(235, 235, 235);
}

.resultstable th,
td {
    text-align: left;
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

.resultstable tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

.resultstable tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

.moreinfo {
    text-align: left;
    width: 15em;
}

.resultname {
    width: 15em;
}